{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!-- CALLOUT -->
<div class="callout-container container-fluid">    
  <div class="row">
    <div class="col-12">
      <section class="callout jumbotron text-center">
        <img src="../../../media/logonotext.png" alt="Neuronet logo" id="jumbo-logo">
          <h1 class="jumbotron-header">Get connected with brilliant minds.</h1>
          {% if request.user.is_authenticated %} <!-- This checks to see if user has active username and password -->


<!-- If the user is authenticated through Allauth but has not created a profile yet -->
               <!-- If profile var comes through empty show create profile links -->
               {% if profile == '' %}
              <div class="left-jumbo jumbo-div">
                <h2>Businesses</h2>
                <p class="lead">Create an account to display your open job roles and connect with incredible people.</p>
                <a class="btn btn-lg btn--cta btn--grey" href="{% url 'create_profile' form_type='companyProfile' %}">Sign Up!</a>
              </div>
              <div class="right-jumbo jumbo-div">
                <h2>Job Seekers</h2>
                <p class="lead">Create an account to create your profile and start searching for your next role.</p>
                <a class="btn btn-lg btn--cta btn--grey" href="{% url 'create_profile' form_type='userProfile' %}">Sign Up!</a>
              </div> 




<!-- If the user is authenticated through Allauth and has created a profile --> 
             {% else %}

          
              <!-- What kind of photo/message/data/link do we want active users to see???-->
              

            {% endif %}
<!-- If the user has not created a username and password through Allauth -->
          {% else %}
            
              



          {% endif %}
      </section>
    </div>
  </div>
</div>   
<!-- /.CALLOUT --> 
<!-- MODAL FOR BUSINESSES-->
<div class="modal" tabindex="-1" role="dialog" id="signUpModalBusiness">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a company account on Neuronet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="companyName" class="form-control" id="companyName" placeholder="Enter Company Name">
          </div>
          <div class="form-group">
            <label for="emailAddredd">Email address</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="repeatPassword">Repeat Password</label>
            <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password">
          </div><br>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>  
  <!-- /.MODAL -->
  <!-- MODAL FOR JOB SEEKERS-->
<div class="modal" tabindex="-1" role="dialog" id="signUpModalSeeker">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a personal account on Neuronet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="profileForm" method="POST" enctype="multipart/form-data" action="{% url 'home' %}">
        {% csrf_token %}
                
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /.MODAL -->






{% endblock %}