{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
  <!-- CALLOUT -->
  <div class="container-fluid">    
      <div class="row">
          <div class="col-12">
              
              <form method="POST" enctype="multipart/form-data" action="{% url 'company_profile' %}">
                {% csrf_token %}
                  {{ form.company_name|as_crispy_field }}
                  {{ form.email|as_crispy_field }}
                  {{ form.town_or_city|as_crispy_field }}
                  {{ form.country|as_crispy_field }}
                  {{ form.company_description|as_crispy_field }}
                  {{ form.image|as_crispy_field }}
                  {{ form.video|as_crispy_field }}
                  {{ form.social_type_1|as_crispy_field }}
                  {{ form.social_link_1|as_crispy_field }}
                  {{ form.social_type_2|as_crispy_field }}
                  {{ form.social_link_2|as_crispy_field }}
                  {{ form.social_type_3|as_crispy_field }}
                  {{ form.social_link_3|as_crispy_field }}
                  {{ form.social_type_4|as_crispy_field }}
                  {{ form.social_link_4|as_crispy_field }}
                <button type="button" class="btn btn-primary">Submit</button>
              </form>
            
          </div>
      </div>
  </div>   
  <!-- /.CALLOUT --> 


{% endblock %}