{% extends "base.html" %}
{% load static %}

{% block content %}
    
<div class="profileContainer">
    <img src="../../../media/people/2-200x200.jpeg" class="profilePicture">
    <div class="topInfo">
        <a href="#"><h3><i class="fas fa-cogs d-none d-sm-block"></i></h3></a>
        <h1 class="profileName">Adam Lee</h1>
        <hr class="profileRule">
    </div>

    <div class="sidebar">
        <div class="infoBox">
            <h4>Address:</h4>
            1 Northcoate<br>
            Barnstaple
        </div>
        <div class="infoBox">
            <h4>Email:</h4>
            adamlee@gmail.com
        </div>
        <div class="infoBox">
            <h4>Skills & Talents</h4>
            Logical Thinking<br>
            Good memory<br>
            Attention to detail<br>
            Honesty<br>
            Reliability<br>
            Punctuality<br>
            Perfectionist
        </div>
        <div class="infoBox">
            <h4>Weaknesses</h4>
            
        </div>
        <div class="infoBox">
            <h4>Social Media Pages</h4>
            <i class="fab fa-facebook-square"></i> Adam Lee<br>
            <i class="fab fa-twitter-square"></i> Adam Lee<br>
            <i class="fab fa-instagram-square"></i> Adam Lee<br>
            <i class="fab fa-linkedin"></i> Adam Lee<br>
            <i class="fab fa-github-square"></i> Adam Lee<br>
            <i class="fab fa-skype"></i> Adam Lee
        </div>
        <div class="infoBox">
            <h4>Interview Preferences</h4>
            Video call or Phone Call
        </div>
    </div>

    <div class="maincontent">
    
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Profile
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="infoBox">
                    <h4>Profile</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
                    leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
                    porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
                    fringilla ipsum non pretium elementum. 
                </div>
            </div>
        </div>
        
        <div class="infoBox">
            <h4>Employment History</h4>
            <h5>Job Title</h5>
            <h6>Dates employed</h6>
            <h6>Responsibilities</h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
            leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
            porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
            fringilla ipsum non pretium elementum.<br><br> 
            <h5>Job Title</h5>
            <h6>Dates employed</h6>
            <h6>Responsibilities</h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
            leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
            porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
            fringilla ipsum non pretium elementum.
        </div>
        <div class="infoBox">
            <h4>Education</h4>
            <h5>High School</h5>
            <h6>Dates Attended</h6>
            <h6>Subjects & Grades Achieved</h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
            leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
            porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
            fringilla ipsum non pretium elementum.<br><br> 
            <h5>College</h5>
            <h6>Dates Attended</h6>
            <h6>Subjects & Grades Achieved</h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
            leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
            porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
            fringilla ipsum non pretium elementum.<br><br> 
            <h5>University</h5>
            <h6>Dates Attended</h6>
            <h6>Subjects & Grades Achieved</h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
            leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
            porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
            fringilla ipsum non pretium elementum.<br><br> 
            <h5>Other education</h5>
            <h6>Dates Attended</h6>
            <h6>Subjects & Grades Achieved</h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
            leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
            porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
            fringilla ipsum non pretium elementum.
        </div>
        <div class="infoBox">
            <h4>References</h4>
            <h5>Name</h5>
            <h6>Relationship</h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
            leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
            porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
            fringilla ipsum non pretium elementum.<br><br> 
            <h5>Name</h5>
            <h6>Relationship</h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, placerat eu mi in, hendrerit sodales metus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin magna mi, viverra vel 
            leo ut, tristique luctus tortor. Praesent iaculis vitae elit vel lobortis. Fusce purus arcu, sollicitudin ac tellus eu, 
            porttitor varius mauris. Sed ac dictum dui. Ut accumsan convallis neque eu euismod. Nunc eget feugiat tellus. Maecenas 
            fringilla ipsum non pretium elementum.
        </div>
    </div>
           
</div>
<div class="bottomBlock"></div>
{% endblock %}