{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row picture-and-name">
    <div class="col-md-3 profile-picture-container">
        <div class="profile-picture"></div>
    </div>
    <div class="col-md-9 profile-name-and-role">
        <h1 class="profile-name">Alec Lee</h1>
        <h2 class="profile-role">Junior Software Developer</h2>
        <div class="row nav-full-container">
            <ul class="col nav">
                <li class="nav-item hvr-back-pulse profile-nav nav-1 col-6 col-md-2">
                    <a href="#" class="nav-link"><i class="fas fa-user-tie"></i>About Me</a>
                </li>
                <li class="nav-item hvr-back-pulse profile-nav nav-2 col-6 col-md-2">
                    <a href="#" class="nav-link"><i class="fas fa-user-cog"></i>Skills</a>
                </li>
                <li class="nav-item hvr-back-pulse profile-nav nav-3 col-6 col-md-2">
                    <a href="#" class="nav-link"><i class="fas fa-user-graduate"></i>Work & Education</a>
                </li>
                <li class="nav-item hvr-back-pulse profile-nav nav-4 col-6 col-md-2">
                    <a href="#" class="nav-link"><i class="fas fa-photo-video"></i>Video Uploads</a>
                </li>
                <li class="nav-item hvr-back-pulse profile-nav nav-5 col-6 col-md-2">
                    <a href="#" class="nav-link"><i class="fas fa-comment"></i>Contact Me</a>
                </li>
                <li class="nav-item hvr-back-pulse profile-nav nav-6 col-6 col-md-2">
                    <a href="#" class="nav-link"><i class="fas fa-download"></i>CV Download</a>
                </li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}