
/*---------- Toasts ----------*/
.message-container{
    position:fixed;
    top:72px;
    right:15px;
    z-index: 99999999999;
}


/*---------------------------------------- base.html ----------------------------------------*/

/*---------- Navigation ----------*/









/*---------- Footer ----------*/









/*---------------------------------------- Allauth Templates ----------------------------------------*/









/*----------------------------------------Homepage/index.html ----------------------------------------*/









/*---------------------------------------- Profiles/profile.html ----------------------------------------*/









/*---------------------------------------- Media Queries ----------------------------------------*/