@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/*---------- Toasts ----------*/
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/*---------------------------------------- elements ----------------------------------------*/

hr {
    width: 85%;
}

a {
    text-decoration: none;
}

/*---------------------------------------- base.html ----------------------------------------*/

/*---------- Navigation ----------*/
.brand-title {
    display: none;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: 7vh;
}

.nav-logo {
    max-width: 4.375rem;
    padding-bottom: 0.3rem;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    padding-bottom: .3125rem;
}

.nav-link {
    padding-bottom: 0.3rem;
    padding: 0;
}

.navbar-bg {
    background-color: #DCDCDC;
}

.pt-1 {
    padding-top: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;

}

.nav-link {
    font-size: 1.5rem;
}

.custom-nav-icon {
    display: none;
}

/* Code to change "Already a member? Log in" background */
/* .unauthorized-loginrequest {
    background-color: #3D3D3D;
    border: 1px solid #3D3D3D;
    border-radius: 8px;
    padding: .346rem;
}

#text-dark-overwrite {
    color: white!important;
}

#text-primary-overwrite {
    color: #f8b039!important;
} */


/*---------- Footer ----------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer-overwrite {
    padding-top: revert !important;
    padding-bottom: revert !important;
}

#footer-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

#socialmedialist-overwrite {
    margin-top: revert;
    margin-bottom: revert;
}

.socialmedialink-overwrite {
    margin-top: revert;
    margin-bottom: revert;

}






/*---------------------------------------- Allauth Templates ----------------------------------------*/









/*----------------------------------------Homepage/index.html ----------------------------------------*/
/* CONTENT CONTAINERS */
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.callout-container {
    height: 93vh;
    background: url(../../media/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* JUMBOTRON */
.jumbotron {
    background-color: rgba(99, 99, 99, 0.603);
    margin-bottom: 70px;
    margin-top: 3rem;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 40px 50px 0 rgba(88, 88, 88, 0.6), 0 10px 50px 0 rgba(0, 0, 0, 0.7);
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: rgb(36, 36, 36);
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: rgb(206, 206, 206);
}

.jumbo-div {
    display: inline-block;
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    color: rgb(54, 54, 54);
    margin: 10px;
    box-shadow: 0 40px 50px 0 rgba(148, 148, 148, 0.6), 0 10px 50px 0 rgba(0, 0, 0, 0.7);
}

.lead {
    font-size: medium;
}

#jumbo-logo {
    width: 30%;
    margin-bottom: 20px;
}


.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: grey;
}

/* BUTTONS */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 175px;
}

.btn--grey {
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);
    border: 2px solid white;
}

.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(185, 185, 185);
    border-color: rgb(168, 168, 168);
}







/*---------------------------------------- Profiles/profile.html ----------------------------------------*/





.profileContainer {
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgb(149, 155, 163);
    background-image: linear-gradient(to right, rgb(224, 224, 224), rgb(141, 157, 177));
    border-left: 40px solid rgb(226, 247, 219);
    border-right: 3px solid grey;
    border-radius: 70px;
    height: 3000px;
}

.fa-cogs {
    color: white;
}

.fa-cogs:hover {
    color: grey;
}

.profilePicture {
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.topInfo {
    text-align: right;
    width: 850px;
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 100px;
}

.profileName {
    font-size: 5em;
}

.profileRule {
    border-top: 3px solid rgb(0, 0, 0);
    margin-top: 50px;
    float: right;
    padding-bottom: 0px;
}

.sidebar {
    width: 400px;
    margin-left: 50px;
    float: left;
    margin-bottom: 100px;
}

.infoBox {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoBox i {
    font-size: x-large;
}

.maincontent {
    width: 700px;
    float: right;
    margin-right: 60px;
    margin-bottom: 100px;
}

.bottomBlock {
    height: 120px;
}






/*---------------------------------------- Media Queries ----------------------------------------*/
@media screen and (min-width: 990px) {
    .brand-title {
        display: inline;
    }

    .custom-nav-icon {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }

    .navbar-bg {
        background-color: white;
    }

    .nav-link {
        font-size: 0.7rem;
    }
}