
/*---------- Toasts ----------*/
.message-container{
    position:fixed;
    top:72px;
    right:15px;
    z-index: 99999999999;
}

/*---------------------------------------- elements ----------------------------------------*/

hr{
    width:85%;
}

/*---------------------------------------- base.html ----------------------------------------*/

/*---------- Navigation ----------*/
.brand-title {
    display: none;
}








/*---------- Footer ----------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}








/*---------------------------------------- Allauth Templates ----------------------------------------*/









/*----------------------------------------Homepage/index.html ----------------------------------------*/









/*---------------------------------------- Profiles/profile.html ----------------------------------------*/









/*---------------------------------------- Media Queries ----------------------------------------*/
@media screen and (min-width: 990px) {
    .brand-title {
        display: inline;
    }
}