<div class="row mx-3">
    <div class="d-none d-sm-block col-6">&#169; Neuronet 2021</div>
    <div class="col-12 col-sm-6 d-flex justify-content-md-end justify-content-center align-items-center">
        <ul class="list-inline float-sm-right">
            <li class="d-inline">
                <a target="_blank" href="https://www.facebook.com/">
                    <i class="fab fa-facebook-square text-dark h3" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
            </li>
            <li class="mx-3 d-inline">
                <a target="_blank" href="https://www.linkedin.com/">
                    <i class="fab fa-linkedin text-dark h3" aria-hidden="true"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
            </li>
            <li class="mr-3 d-inline">
                <a target="_blank" href="https://www.twitter.com/">
                    <i class="fab fa-twitter-square text-dark h3" aria-hidden="true"></i>
                    <span class="sr-only">Twitter</span>
                </a>
            </li>
        </ul>
    </div>
</div>
