{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        {% endblock %}

        {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock%}

        {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="media/favicon.ico">
        <title>Neuronet {% block extra_title %}{% endblock %}</title>

    </head>
    <body>

        <header>
            {% include 'includes/navigation.html' %}
        </header>

        {% if messages %}
            <div class="message-container"></div>
        {% endif %}
        

        {% block content %}
        {% endblock %}

    
        <footer class="footer mt-auto py-3 bg-light">

        <footer class="footer mt-auto py-3 bg-light" id="footer-overwrite">

        <footer class="footer mt-auto py-3 bg-light" id="footer-overwrite">
            {% include 'includes/footer.html' %}
        </footer>

        {% block postloadjs %}
        {% endblock %}

    </body>
</html>